$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

/* Import Bootstrap & Fonts */
$icon-font-path: '~font-awesome/fonts/';
@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.min.css";



/* *** Overall APP Styling can go here ***
   --------------------------------------------
   Note: This Component has ViewEncapsulation.None so the styles will bleed out

*/
