<div class="bootstrap-vertical-nav">
    <div class="card card-block card-header">
        <ul class="nav flex-column">
            <li [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/home']"><span class='fa fa-home'></span>Home</a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/staff']"><span class='fa fa-user'></span>Staff & Rate Management</a>
            </li>
        </ul>
    </div>

</div>